*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inmobiliaria-nav{
    background:linear-gradient(to right, #004AAD,#CB6CE6);
}

.inmobiliaria-nav .container-fluid a{
    font-size: 16pt;
}

.background .background-img{
    filter: blur(5px);
}

.form-auth{
    position: absolute;
    bottom: 50px;
    left: 300px;
}

.form-auth .card{
    background: linear-gradient(to right, #004AAD,#CB6CE6);
    border: none;
}

.form-auth form{
    color: white;
}

.form-auth input{
    background-color: #CAE8FF;
}
.form-auth input::placeholder{
    color:black;
}

.form-auth a{
    color: white;
}

.form-auth .btn-group input[type="radio"]:checked {
    background-color: black;
    border-color: black;
}

.form-auth button{
    position:absolute;
    bottom:50px;
    right: 50px;
    color: white;
    background-color: #050A30;
    border: none;
}

footer{
    background: linear-gradient(to right, #004AAD,#CB6CE6);
    color: white;
    height: 100px;
}
footer img{
    position: relative;
    left: 40px;
    bottom: 5px;
}

footer .linea{
    background-color: #CAE8FF;
    height: 100px;
    width: 4px;
}

footer .titulo{
    margin-top: 30px;
    margin-right: 40px;
    color: #CAE8FF;
}

footer .ingenieros{
    margin-top: 30px;
    margin-left: 40px;
    color:#CAE8FF;
}