*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.inmobiliaria-nav{
    font-size: 16pt;
    background-color: #050A30 !important;
}

.inmobiliaria-nav .container-fluid a{
    font-size: 16pt;
}

.main-text{
   background: linear-gradient(to right, #004AAD,#CB6CE6);
   color: white;
   height: 300px;
   text-align: center;
   padding-top: 100px;
   font-size: 40pt;
   margin-left: 0;
}

.search{
    background: #050A30;
    color: white;
}

.search b{
    font-size: 20pt;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 80px;
}

.search .carusel-menu{
    width: 800px;
    object-fit: cover; 
}

.carousel-inner img{
    height: 100%;
    width: 100%;
}

.search .card{
    width: 900px;
    position: absolute;
    bottom: 200px;
    margin-left: 20px;
}

.search .card .card-header .btn-group + .btn{
    background-color: #5CB6F9;
    color: white;
}

.search .card .card-body .btn-custom{
    background-color: #5CB6F9; 
    color: black; 
}

.search .card .card-body .btn-custom:hover {
    background-color: #4CA0E1;
    color: black 
}

.search .card .card-body .form-select{
    width: 10px;
    background-color: #050A30;
    color: #CAE8FF;
}

.search .card .card-body .form-control{
    background-color: #050A30;
}

.search .card .card-body .form-control::placeholder{
    color:#CAE8FF;
}

.inmuebles-destacados{
    background: linear-gradient(to right, #004AAD,#CB6CE6);
    color: white;
    height: 300px;
    text-align: center;
    padding-top: 100px;
    font-size: 40pt;
    margin-left: 0;
}

.inmuebles{
    background-color: #050A30;
    height: 500px;
}

.inmuebles .card{
    position: relative;
    bottom: 60px;
    height: 430px;
}

.inmuebles .card{
    background:#12229D;
    color: white;
    border: black;
}

.inmuebles .card .card-body a{
    color: black;
    background-color: #CAE8FF;
    border: #CAE8FF;
}

.search .row{
    margin-right: 0;
}


footer{
    background: linear-gradient(to right, #004AAD,#CB6CE6);
    color: white;
    height: 100px;
}
footer img{
    position: relative;
    left: 40px;
    bottom: 5px;
}

footer .linea{
    background-color: #CAE8FF;
    height: 100px;
    width: 4px;
}

footer .titulo{
    margin-top: 30px;
    margin-right: 40px;
    color: #CAE8FF;
}

footer .ingenieros{
    margin-top: 30px;
    margin-left: 40px;
    color:#CAE8FF;
}